<div id="case">
    <section>
        <h3>Дилърство</h3>
        <div>
            <input type="checkbox" id="consuming" name="drugDealing">
            <label for="consuming">Консумация</label>
        </div>
        <div>
            <input type="checkbox" id="trading" name="drugDealing">
            <label for="trading">Търговия</label>
        </div>
        <div>
            <input type="checkbox" id="weapons" name="drugDealing">
            <label for="weapons">Оръжия</label>
        </div>
    </section>
</div>