<div id="main">
    <ul>
        <li class="category">
            <button id="health">
                <img src="images/health.jpg">
            </button>
        </li>
        <li class="category">
            <button id="attack">
                <img src="images/arms.png">
            </button>
        </li>
        <li class="category">
            <button id="fire">
                <img src="images/fire.jpg">
            </button>
        </li>
        <li class="category">
            <button id="carAccident">
                <img src="images/road.jpg">
            </button>
        </li>
    </ul>
</div>