<div id="attack">
    <ul>
        <li class="category">
            <button id="robbery">
                Грабеж
            </button>
        </li>
        <li class="category">
            <button id="rapei4">
                Изнасилване
            </button>
        </li>
        <li class="category">
            <button id="drugDealing">
                Дилърство
            </button>
        </li>
        <li class="category">
            <button id="rito">
                Бунт
            </button>
        </li>
    </ul>
</div>