<div id="health">
    <ul>
        <li class="category">
            <button id="burn">
                Изгаряне
            </button>
        </li>
        <li class="category">
            <button id="stroke">
                Пристъп
            </button>
        </li>
        <li class="category">
            <button id="wounded">
                Ранен
            </button>
        </li>
        <li class="category">
            <button id="catastrophe">
                Катастрофа
            </button>
        </li>
    </ul>
</div>